{% extends 'layout.html' %}
{% block body %}
    <table>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ offer.city }}</td>
                <td>{{ offer.street }}</td>
                <td>{{ offer.building_number }}</td>
                <td>{{ offer.apartment_number }}</td>
                <td>{{ offer.room_count }}</td>
                <td>{{ offer.area }}</td>
                <td>{{ offer.tier }}</td>
                <td>{{ offer.has_balcony }}</td>
                <td>{{ offer.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
