{% extends 'layout.html' %}
{% block body %}
    <div>
    <a href="{{ url_for('offer.search') }}">Powrót do wyszukiwania</a>
        {% if session['user_id'] == offer.owner_id %}
            <p class="alert alert-info" >To jest Twoja oferta</p>
            {% if  offer.is_sold %}
                <p>Nieruchomość została już sprzedana</p>
            {% else %}
                <form action="{{ url_for('offer.sold', offer_id=offer.id) }}" method="post">
                    <button type="submit" class="btn btn-danger">Oznacz jako sprzedane</button>
                </form>
            {% endif %}



    {% else %}
            {% if already_requested %}
                <p>Już zgłosiłeś chęć zakupu tej nieruchomości</p>
            {% else %}
                <form action="{{ url_for('msg.want_buy', offer_id=offer.id) }}" method="post">
                    <button type="submit" class="btn btn-success">Chcę kupić!</button>
                </form>
            {% endif %}
        {% endif %}

        <h1>Szczegóły oferty:</h1>

        <dl class="dl-horizontal">
        <dt>Miasto:    </dt><dd>{{ offer.city }}</dd>
        <dt>Ulica:    </dt><dd>{{ offer.street }}</dd>
        <dt>Nr budynku: </dt><dd>{{ offer.building_number }}</dd>
        <dt>Nr mieszkania: </dt><dd>{{ offer.apartment_number }}</dd>
        <dt>Liczba pokoi: </dt><dd>{{ offer.room_count }}</dd>
        <dt>Powierzchnia: </dt><dd> {{offer.area }} m<sup>2</sup></dd>
        <dt>Kodnygnacje:</dt><dd> {{ offer.tier }}</dd>
        <dt>Posiada balkon: </dt><dd>{{ "TAK" if offer.has_balcony else "NIE"}}</dd>
        <dt>Cena: </dt><dd> {{ offer.price }}zł</dd>
        <dt>Opis: </dt><dd>{{ offer.description }}</dd>
                                  </dl>
        <div>
            <h2>Zdjęcia</h2>


        {% for photo in offer.photos %}
            <img class="img-responsive" src="/static/{{ photo.filename }}">
        {% endfor %}
        <br>
        </div>

    </div>

{% if offer.owner_id == session['user_id'] %}
                <form action="{{ url_for('offer.delete', offer_id=offer.id) }}" method="post">
                    <button class="btn btn-danger" type="submit">Usuń</button>
                </form>

                    <a class="btn" href="{{ url_for('offer.edit', offer_id=offer.id) }}">Edytuj</a>
{% endif %}

</div>
{% endblock %}
