{% extends 'layout.html' %}
{% block body %}

    <article>
        {% if messages | count == 0 %}
            <p>Nie masz żadnych wiadomości</p>
        {% else %}
            <table class="table table-striped table-condensed table-hover">
                <theader>
                <td>Data</td>
                <td>od</td>
                <td>telfon</td>
                <td></td>
                </theader>
            <tbody>
                {% for msg in messages %}
                        <tr {% if not msg.is_read %}class="success"{% endif %}>

                            <td> {{ msg.sent_datetime }} </td>
                            <td>{{ msg.from.email }}</td>
                            <td>{{ msg.from.phone }}</td>
                            <td>
                                <a href="{{ url_for('msg.show',id=msg.id) }}">Pokaż</a>
                            </td>
                        </tr>
                {% endfor %}</tbody>
            </table>
        {% endif %}
    </article>

{% endblock %}
